{% extends 'base.html' %}
{% load static %}

{% block headContent %}

    <link rel="stylesheet" href="{% static 'ptable/calculator/calculator.css' %}">

{% endblock headContent %}

{% block bodyContent %}
    <h1>Calculator</h1>
    <!-- Ideal Gas Law -->
    <div>
        <h3>Ideal Gas Law</h3>
        <h4>PV = nRT</h4>
        <p><b>Must</b> input 3 known variables to get unknown variable</p>

        <label for="IGL_pressure">Pressure (atm):</label>
        <input type="text" id="IGL_pressure" name="IGL_pressure"><br>

        <label for="IGL_vol">Volume (L):</label>
        <input type="text" id="IGL_vol" name="IGL_vol"><br>

        <label for="IGL_moles">Moles:</label>
        <input type="text" id="IGL_moles" name="IGL_moles"><br>

        <label for="IGL_temp">Temperature (K):</label>
        <input type="text" id="IGL_temp" name="IGL_temp"><br>

        <button id="idealGasLaw">Calculate</button>
        <button id="t">Clear</button>
    </div>
    <hr>
    <!-- Energy of a Photon -->
    <div>
        <h3>Energy of a photon</h3>
        <h4>E = hv</h4>

        <label for="E_photon_frequency">Frequency (Hz):</label>
        <input type="text" id="E_photon_frequency" name="E_photon_frequency"><br>

        <label for="E_photon_energy">Energy (J):</label>
        <input type="text" id="E_photon_energy" name="E_photon_energy"><br>
        <button id="photonEnergy">Calculate</button>
    </div>
    <hr>
    <!-- Wavelength/Frequency of a Photon -->
    <div>
        <h3>Wavelength/Frequency of a photon</h3>
        <h4>c = λv</h4>

        <label for="WF_frequency">Frequency (Hz):</label>
        <input type="text" id="WF_frequency" name="E_photon_frequency"><br>

        <label for="WF_wavelength">Wavelength (m):</label>
        <input type="text" id="WF_wavelength" name="WF_wavelength"><br>
        <button id="WF_calculate">Calculate</button>
    </div>
    <hr>
    <!-- Combined Gas Law -->
    <div>
        <h3>Combined Gas Law</h3>
        <h4>(P1 * V1)/T1 = (P2 * V2)/T2</h4>

        <label for="gasLaw_p1">Pressure 1:</label>
        <input type="text" id="gasLaw_p1" name="gasLaw_p1"><br>

        <label for="gasLaw_v1">Volume 1:</label>
        <input type="text" id="gasLaw_v1" name="gasLaw_v1"><br>

        <label for="gasLaw_t1">Temperature 1:</label>
        <input type="text" id="gasLaw_t1" name="gasLaw_t1"><br>

        <label for="gasLaw_p2">Pressure 2:</label>
        <input type="text" id="gasLaw_p2" name="gasLaw_p2"><br>

        <label for="gasLaw_v2">Volume 2:</label>
        <input type="text" id="gasLaw_v2" name="gasLaw_v2"><br>

        <label for="gasLaw_t2">Temperature 2:</label>
        <input type="text" id="gasLaw_t2" name="gasLaw_t2"><br>

        <button id="gasLaw">Calculate</button>

    </div>
    <hr>
    <!-- Molarity -->
    <div>
        <h3>Molarity</h3>
        <h4>M = mol solute / Liters of solution</h4>

        <label for="M_solute">Moles solute: </label>
        <input type="text" id="M_solute" name="M_solute"><br>

        <label for="M_solvent">Liters solvent: </label>
        <input type="text" id="M_solvent" name="M_solvent"><br>

        <label for="Molarity">Molarity: </label>
        <input type="text" id="Molarity" name="Molarity"><br>

        <button id="molarityCalc">Calculate</button>
    </div>
    <hr>
    <div>
        <h3>Specific Heat Equation</h3>
        <h4>Q = cmΔT</h4>
        <label for="SHE_mass">Mass (g): </label>
        <input type="text" id="SHE_mass" name="SHE_mass"><br>

        <label for="SHE_specific_heat">Specific heat (J/g C): </label>
        <input type="text" id="SHE_specific_heat" name="SHE_specific_heat"><br>

        <label for="SHE_temp">Change in temperature (C): </label>
        <input type="text" id="SHE_temp" name="SHE_temp"><br>

        <label for="SHE_heat">Heat (J): </label>
        <input type="text" id="SHE_heat" name="SHE_heat"><br>

        <button id="SHE_calc">Calculate</button>
    </div>
    <hr>
    <div>
        <h3>Average Kinetic Energy of a Single Gas Molecule</h3>
        <h4>KE = (1/2)mv^2</h4>
        <label for="KE_mass">Mass (kg): </label>
        <input type="text" id="KE_mass" name="KE_mass"><br>

        <label for="KE_speed">Speed of the molecule (m/s): </label>
        <input type="text" id="KE_speed" name="KE_speed"><br>

        <label for="KE_result">Kinetic energy (J): </label>
        <input type="text" id="KE_result" name="KE_result"><br>

        <button id="KE_calc">Calculate</button>
    </div>
    <hr>


    <!--Custom js-->

    <script type="text/javascript" src="{% static 'ptable/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ptable/calculator/js/calculator.js' %}"></script>

{% endblock bodyContent %}