{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<title>LibreChem</title>

</head>
<body>
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="{% url 'site-home' %}">LibreChem</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'ptable' %}">Periodic Table <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'calculator' %}">Calculators</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'site-about' %}">About</a>
	      </li>
	      <li class="nav-item">
	      	<a class="nav-link text-warning" href="{% url 'admin:index' %}">Admin</a>
	      </li>
        </ul>
	  </div>
	</nav>
	<!--/.Navbar-->
    <h1>TEST</h1>
	{% block bodyContent %}{% endblock %}
	<!--Importing Bootstrap-->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>


    <!--Custom js-->
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    
</body>
</html>